.footer-page {
  //   /* общие стили для подвала сайта */
  background-color: $hero-background-color;
  line-height: 1.71;
}

.container.footer {
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .list:not(:last-child) {
  margin-right: 85px;
}

.footer-page .logo__studio-logotext {
  //   /* стили для части Studio в логотипе в Футере сайта */
  color: $title-color;
}
