.mail-tel-nav {
//   /* стили к ссылкам правой части навигации хедера */
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mail-tel-nav .item:not(:last-child) {
  margin-right: 30px;
}

.mail-tel-nav .icon.mail {
//   /* стили для иконки почты, цвет со спрайта-удалён */
  width: 16px;
  height: 12px;
  fill: $inside-color;
  margin-right: 10px;
}

.mail-tel-nav .icon.tel {
//   /* стили для иконки телефона */
  width: 10px;
  height: 16px;
  fill: $inside-color;
  margin-right: 10px;
//   /* стиль возможности сделать переходы (А-В-А) при ховере и фокусе (время-250ms, функция распределения времени-cubic-bezier(0.4, 0, 0.2, 1) */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel-nav .link:hover .tel,
.mail-tel-nav .link:focus .tel,
.mail-tel-nav .link:hover .mail,
.mail-tel-nav .link:focus .mail {
  fill: $active-color;
}
