.list.social {
  //   /* отступ и расположение списка соц сетей под в карточке члена команды */
  padding-bottom: 30px;
  justify-content: center;
}

.list.social .item-social .link {
  //   /* стили для создания пространства-кружочка под иконкой соц сети */
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: none;
  //   /* скрыть тени от круглых иконок */
  background-color: $title-color;
  padding: 12px;
  //   /* стиль возможности сделать переходы (А-В-А) при ховере и фокусе (время-250ms, функция распределения времени-cubic-bezier(0.4, 0, 0.2, 1) */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social .item-social:not(:last-child) {
  //   /* отступы между кружочками с иконками соц сетей */
  margin-right: 10px;
}

.list.social .icon.instagram,
.list.social .icon.twitter,
.list.social .icon.facebook,
.list.social .icon.linkedin {
  //   /* заливка и размеры иконок соц сетей */
  //   /* background-color: green; */
  width: 20px;
  height: 20px;
  fill: $team-social-icons-fill;
  //   /* стиль возможности сделать переходы (А-В-А) при ховере и фокусе (время-250ms, функция распределения времени-cubic-bezier(0.4, 0, 0.2, 1) */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list.social .link:hover .instagram,
.list.social .link:hover .twitter,
.list.social .link:hover .facebook,
.list.social .link:hover .linkedin,
.list.social .link:focus .instagram,
.list.social .link:focus .twitter,
.list.social .link:focus .facebook,
.list.social .link:focus .linkedin {
  //   /* цвет иконок соц сетей при ховере */
  fill: $title-color;
}

.list.social .item-social .link:hover,
.list.social .item-social .link:focus {
  //   /* цвет подложки-кружочка соц сетей при ховере */
  background-color: $active-color;
}
